<!DOCTYPE html>
<html>

<head>
  <link href="/CSS/bootstrap.min.css" type="text/css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="/CSS/main.css" type="text/css" rel="stylesheet">
  <title> healthQuest </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="icon" href="https://github.com/SomeRandomCoder/Health-Quest/raw/lolito/images/HQ.png" type="image/x-icon">
</head>

<body>
  <nav>
    <div class="nav-wrapper red darken-2">
      <a href="/" class="brand-logo">Healthquest</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/userProfile">Profile</a></li>
      </ul>
    </div>
  </nav>
  <br/>
  <div class='container'>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href="/challenges">
          <button type="button" class="btn btn-default green darken-1">My Goals</button>
        </a>
      </div>
      <div class="btn-group" role="group">
        <a href="/BMI">
          <button type="button" class="btn btn-default green darken-1">Information</button>
        </a>
      </div>
      <div class="btn-group" role="group">
        <a href="/calorie" <button type="button" class="btn btn-default green darken-1">Foods</button></a>
      </div>
      <div class="btn-group" role="group" method='get'>
        <a href="/exercise">
          <button type="button" class="btn btn-default green darken-1">Activity</button>
        </a>
      </div>
    </div>
    <div class="well center">
      <h3>Current Challenge: <br/><small>Jog for 20 minutes.</small></h3>
      <div>
        <h5>Current Progress:</h5>
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
    </div>
    {{{body}}}
  </div>
  <script href="js/bootstrap.min.js"></script>
</body>
</html>
