<html>

<head>
  <link href="/CSS/main.css" type="text/css" rel="stylesheet">
</head>

<body>

  <div class="overweight">
    <button id="Overweight_toggle" data-toggle="collapse" data-target="#demo3">Goal Challenge</button>
    <div id="demo3" class="collapse">
      <div class="panel-heading">
        <h3 class="panel-title1">Please Choose a Goal from below:</h3>
      </div>
      <div class="panel-body">

        <input type="radio" name="name" value="Jogging" checked> Jogging
        <br>

        <div class="overweight">
          <button id="Overweight_toggle" data-toggle="collapse" data-target="#demo">Input Time Amount</button>
          <div id="demo" class="collapse">
            <p>Input your time length here:</p>
            <div class="form-group col-lg-1">
              <label for="code">Time (in minutes)</label>
              <input type="text" id="userWeight" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <input type="radio" name="name" value="Meditation" checked> Meditation
        <br>
        <div class="overweight">
          <button id="Overweight_toggle" data-toggle="collapse" data-target="#demo1">Input Time Amount</button>
          <div id="demo1" class="collapse">
            <p>Input your time length here:</p>
            <div class="form-group col-lg-1">
              <label for="code">Time (in minutes)</label>
              <input type="text" id="userWeight" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <input type="radio" name="name" value="Enough Sleep" checked> Enough Sleep
        <br>
        <div class="overweight">
          <button id="Overweight_toggle" data-toggle="collapse" data-target="#demo2">Input Time Amount</button>
          <div id="demo2" class="collapse">
            <p>Input your time length here:</p>
            <div class="form-group col-lg-1">
              <label for="code">Time (in minutes)</label>
              <input type="text" id="userWeight" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <input type="radio" name="name" value="Eating Healthy" checked> Eating Healthy
        <br>
        <div class="overweight">
          <button id="Overweight_toggle" data-toggle="collapse" data-target="#demo3">Amount Eaten</button>
          <div id="demo3" class="collapse">
            <p>Input your time length here:</p>
            <div class="form-group col-lg-1">
              <label for="code">Amount Eaten (in Grams)</label>
              <input type="text" id="userWeight" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="overweight">
    <button id="Overweight_toggle" data-toggle="collapse" data-target="#demo5">Challenge a friend</button>
    <div id="demo5" class="collapse">
      <div class="panel-heading">
        <h3 class="panel-title1">Challenge a Friend</h3>
      </div>
      <div class="panel-body">
        <input type="radio" name="name" value="Bob" checked> Bob
        <br>
        <input type="radio" name="name" value="Sue"> Sue
        <br>
        <input type="radio" name="name" value="Vester"> Vester
      </div>
    </div>
  </div>

  <form role="form" class="row">
    <div class="form-group col-lg-1">
      <label for="code">Create Your own Challenge:</label>
      <input type="text" id="userWeight" class="form-control">
    </div>
  </form>


  <h2><b>Recent Achievements:</b></h2>
  <table>
    <thead></thead>


  </table>








</body>

</html>
