
<!-- <script>
var current = document.getElementById("currentChallenge");
var jogging = document.getElementById('Rjogging');
var jogTime = document.getElementById("Tjogging");
var meditation = document.getElementById('Rmeditate');
var medTime = document.getElementById("Tmeditate");
var sleep = document.getElementById('Rsleep');
var sleepTime = document.getElementById("Tsleep");
var defaultText = "Current Challenge: ";
var submit = function(){

if(jogging.checked){
  current.innerHTML = defaultText + "Jog for " + jogTime.value + " minutes!";
}
else if(meditation.checked){
    current.innerHTML = defaultText + "Meditate for " + medTime.value + " minutes!";
}
else if(sleep.checked){
    current.innerHTML = defaultText + "Sleep for " + sleepTime.value + " hours!";
}

// current.innerHTML="N/A";
}


</script> -->
</body>

</html>
<div class="container">
  <div class='row center'>
    <button onclick='toggleChallenge()' id='challengeButton' class='btn btn-large green darken-1'>Add Challenge</button>
    <button onclick='toggleFriend()' id='friendButton' class='btn btn-large green darken-1'>Challenge Friend</button>
    <div id='challenge'>
      <label>Create a Challenge</label>
      <select class="browser-default">
        <option value="" disabled selected>Choose a Goal</option>
        <option value="Exercise">Jogging</option>
        <option value="Sleep">Sleep</option>
        <option value="Healthy Eating">Healthy Eating</option>
      </select>
      <input id="time" type='time' placeholder="Time"/>
      <button id="submit" onClick="submit()" class="btn btn-lg btn-primary">Submit</button>
    </div>
    <div id="friend">
      <label>Challenge a Friend</label>
      <select class="browser-default">
        <option value="" disabled selected>Choose a Friend</option>
        <option value="1">Bob</option>
        <option value="2">Sue</option>
        <option value="3">Vester</option>
      </select>
      <select id="Goal" class="browser-default">
        <option value="" disabled selected>Choose a Goal</option>
        <option value="Exercise">Jogging</option>
        <option value="Sleep">Sleep</option>
        <option value="Healthy Eating">Healthy Eating</option>
      </select>
    </div>
  </div>
  <h5>Current Goals</h5>
  <div id="currentGoals" class="collection">
    <a href="#!" class="collection-item">Sleep: 08:00</a>
    <a href="#!" class="collection-item">Jogging<span class="new badge">1</span></a>
  </div>
</div>
<script>
var submit = function(){
var current = document.getElementById("currentGoals");
var goal = document.getElementById("Goal");
var time = document.getElementById('time');
current.innerHTML = '<a href="#" class="collection-item">' + goal.innerHTML + '</a>';
}
  var toggleChallenge = function() {
    var challenge = document.getElementById('challenge');
    var friend = document.getElementById('friend')
    friend.style.visibility = 'hidden';
    friend.style.display = 'none'
    challenge.style.visibility = 'visible';
    challenge.style.display = 'block';
  }
  var toggleFriend = function() {
    var challenge = document.getElementById('challenge');
    var friend = document.getElementById('friend')
    challenge.style.visibility = 'hidden';
    challenge.style.display = 'none'
    friend.style.visibility = 'visible';
    friend.style.display = 'block'
  }
</script>
