<div class="container">
  <div class='row center'>
    <button onclick='toggleChallenge()' id='challengeButton' class='btn btn-large green darken-1'>Add Challenge</button>
    <button onclick='toggleFriend()' id='friendButton' class='btn btn-large green darken-1'>Challenge Friend</button>
    <div id='challenge'>
      <label>Create a Challenge</label>
      <select class="browser-default">
        <option value="" disabled selected>Choose a Goal</option>
        <option value="Exercise">Jogging</option>
        <option value="Sleep">Sleep</option>
        <option value="Healthy Eating">Healthy Eating</option>
      </select>
      <input type='time' placeholder="Time"/>
    </div>
    <div id="friend">
      <label>Challenge a Friend</label>
      <select class="browser-default">
        <option value="" disabled selected>Choose a Friend</option>
        <option value="1">Bob</option>
        <option value="2">Sue</option>
        <option value="3">Vester</option>
      </select>
      <select class="browser-default">
        <option value="" disabled selected>Choose a Goal</option>
        <option value="Exercise">Jogging</option>
        <option value="Sleep">Sleep</option>
        <option value="Healthy Eating">Healthy Eating</option>
      </select>
    </div>
  </div>
  <h5>Current Goals</h5>
  <div class="collection">
    <a href="#!" class="collection-item">Sleep: 08:00</a>
    <a href="#!" class="collection-item">Jogging<span class="new badge">1</span></a>
  </div>
</div>
<script>
  var toggleChallenge = function() {
    var challenge = document.getElementById('challenge');
    var friend = document.getElementById('friend')
    friend.style.visibility = 'hidden';
    friend.style.display = 'none'
    challenge.style.visibility = 'visible';
    challenge.style.display = 'block';
  }
  var toggleFriend = function() {
    var challenge = document.getElementById('challenge');
    var friend = document.getElementById('friend')
    challenge.style.visibility = 'hidden';
    challenge.style.display = 'none'
    friend.style.visibility = 'visible';
    friend.style.display = 'block'
  }
</script>
