*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}

header{
  width: 100%;
  text-align: center;
  color: white;
  height: 150px;
  padding: 50px 0px;
  font-family: sans-serif;
  background-color: #c90d4b;
}

.columnA{
  float:left;
  font-weight: 100;
  padding: 30px;
  width: 50%;
  font-size: 14px;
  color: black;
  background-color: #333333;
}
.columnB{
  float:right;
  font-weight: 100;
  padding: 30px;
  width: 50%;
  font-size: 14px;
  color: black;
  background-color: #00FFB7;
}
.bmi{
  float:left;
  font-weight: 100px;
  padding: 10px;
  width:100%;
  font-size: 14px;
  background-color: #7d7d7d;
}
.DailyIntakeOfCalories{
  /*float:left;*/
  font-weight: 100px;
  padding: 10px;
  width:100%;
  font-size: 14px;
  background-color: #7d7d7d;
}
.DailyExercises{
  /*float:left;*/
  font-weight: 100px;
  padding: 10px;
  width:100%;
  font-size: 14px;
  background-color: #7d7d7d;
}

p{
  color: white;
  padding: 10px;
}
h1{
  padding: 5px;
}

img{
  width: 25%;
  height: auto;
}
#result {
  border 1px solid black;
  font-size: 35px;
}
#userWeight {
  width: 75%;
}
#userHeight {
  width: 75%;
}
.well-lg {
  height: 75px;
}
#currentChallenge {
  font-size: 45px;
}
/*media queries*/
@media all and (max-width: 600px){
  .columnA{
    width: auto;
  }
  .columnB{
    width: 100%;
  }
  .ProgressBar{
    text-align: center;
    float: right;
    height: 100px;
    width: 100px;
    color: white;
    background-color: #b30059;
  }
h3{
  padding: 10px;

}
}
*/
/*@media (min-width: 400px) and (max-width: 800px){
  header{
    color: white;
    background-color: #330033;
  }
  h1{
    padding: 5px;
    text-align: center;
  }

}
<<<<<<< HEAD
#achievementTable{
  width: 100%;
  height: inherit;
  border: inherit;
  border-width: 2px;
  border-style: double;
  float: left;


}

#bodyBackground{
  background: linear-gradient(to right,white, lime);
  /*background-color: #AFB5B5;*/
}

.table{
  width: 100%;
  height: inherit;
  border-width: 2px;
  border-color: black;
  border-style: double;


=======
*/
.red{
  color: red;
>>>>>>> 2e995d5d1e7377e35293dd9af765a4695082ed8c
}
